
.myForm{
    margin: 5%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 5%;
    background-color: rgb(0, 32, 32);
    color: aqua;
}

.scrollable-menu {
    height: 200px;
    overflow-y: scroll;
}


.btn-techs {
    margin: 0.3%;
    margin-left: 0.3%;
}


.btn-techs:hover {
    background-color: #7ce5ff  !important;
    color: #000000 !important;
}