
* {margin: 0; padding: 0}
body {background: rgb(1, 27, 34);}
canvas {
    display: block;
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
}

.filters{
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgba(0,0,0,0.5);
    /* background-color: rgba(0,0,0,0); */
    color: rgb(255, 255, 255);
    text-align: center;
    align-items:center;
    justify-content:center;
}



.btn-space{
    margin-right: 2%;
    margin-top: 2%;
}


.drop-space{
    margin-right: 2%;
    margin-top: 2%;
    display: inline;
}

.applyFilters{
    display:block;
}

.filters-cards{
    display:flex;
    align-items:center;
    justify-content:center;
}

.scrollable-menu {
    height: 200px;
    overflow-y: scroll;
}

.btn-techs{
    margin: 0.3%;
    margin-left: 0.3%;
}